{% load static from staticfiles %}
<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurante Plaza</title>
    <link rel="shortcut icon" href="{% static 'Media/Imagenes/favicon.ico'%}" type="image/x-icon" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Lobster&subset=latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Asap&subset=latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'Support/Bootstrap/css/bootstrap.min.css'%}">
    <script type="text/javascript" src="{% static 'Support/Bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <script type="text/javascript" src="{% static 'functions.js' %}"></script>
</head>

<body>
    <section class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6" id="app">
                <img src="{% static 'Media/Imagenes/nexus-02.png' %}" class="img-responsive" alt="app" id="app-img-nexus">
            </div>

            <div class="row main">
                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0" id="info">
                    <div class="row" id="titulo">
                        <img src="{% static 'Media/Imagenes/logo.png' %}" class="col-xs-12 col-md-4 img-responsive" alt="logo" id="logo">
                        <h1 class="col-xs-12 col-md-8">Restaurante Plaza</h1>
                    </div>

                    <p>Comida casera, al alcance de tu mano. ¡Somos el corrientazo online!</p>
                </div>

                <div class="col-xs-12 col-sm-6" id="buttons">
                    <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3 badge-container">
                        <a href="https://play.google.com/store/apps/details?id=com.sikuinnova.restaurante" target="_blank"><img id="badge-left" class="app-badge" src="{% static 'Media/Imagenes/android%20badge.png' %}" alt="botón-android"></a>
                    </div>

                  <!--  <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3 badge-container">
                       <div class="tool" id="no-disponible">
                               <h5>Próximamente</h5>
                       </div>
                       <div class="triangulo"></div>
                       
                        <img id="badge-right" class="app-badge" src="{% static 'Media/Imagenes/app-store-badge.png' %}" alt="botón-ios">
                    </div> -->
                </div>
            </div>
        </div>
    </section>

    <footer class="container-fluid">
        <div class="container">
            <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
                <h3>Acerca de nosotros</h3>
                <p>Restaurante plaza es un restaurante ubicado en el centro de la ciudad, contamos con más de 10 años de servicio, ¡siempre pensamos en nuestros clientes, por eso nos estamos renovando! </p>
            </div>

            <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
                <h3>Sikuinnova</h3>
                <p>     
                </p>
            </div>

            <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0" id="social">
               <h3>Ponte en contacto</h3>
                <ul class="list-inline">
                    <li><a href="https://www.facebook.com/RestaurantePlazaCo/" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>