<!DOCTYPE html>
{% load static from staticfiles%}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'landing.css' %}">
<link rel="stylesheet" type="text/css" href="{% static "bootstrap.min.css" %}"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Restaurante Plaza</title>

</head>
<body>
<div>
	<div>
		<div class="de">
			<div class="content">
				<p class="tct">Restaurante Plaza</p>
			</div>
		</div>
			<div class="landing">

				<p class="tcf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et risus tellus. Morbi vulputate malesuada libero, nec ornare sapien luctus quis. Ut volutpat rutrum dapibus. Cras porttitor fringilla magna, non pharetra justo rutrum non. Praesent bibendum tempus odio, dictum posuere orci porta vel. Mauris mattis ante nec quam tincidunt facilisis. Aenean fringilla lectus vel libero faucibus vulputate. Duis volutpat, orci eget molestie ultricies, est purus consectetur turpis, vitae ultrices leo mauris et eros. Cras eu fringilla nisi. Pellentesque at libero et magna pharetra convallis in pretium libero. Etiam vel lorem et magna pharetra tristique sit amet bibendum nisi. Donec congue tempus enim, ut pretium erat laoreet maximus. Donec nulla mauris, aliquet nec elementum ac, tempus eu ipsum. Mauris convallis mauris ut laoreet sodales. Phasellus hendrerit imperdiet erat vel ullamcorper.

				Etiam quis faucibus magna. Cras vel lacus id lectus varius mollis nec non lectus. Donec nec massa ac mauris feugiat auctor non vitae dolor. Sed sit amet erat a lectus imperdiet ultricies. Fusce quis ligula in felis imperdiet porta. In sed sodales magna. Praesent mattis iaculis egestas. Mauris nisi nulla, faucibus euismod sodales sit amet, rutrum non lectus. Donec leo sapien, auctor vel lacus in, aliquam finibus ex. Curabitur dapibus, quam a vestibulum bibendum, nunc magna congue sem, sit amet porta justo turpis ac orci. Nunc egestas nisi ut aliquet dictum.

				</p>

			</div> 
	</div>
	

</div>

</body>
</html>