<html>
{% load static from staticfiles %} 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<script type="text/javascript">

$( document ).ready(function() {
	var pr = ""
	var soap = ""
	var meat = 	""
	var salad = "" 
	var rice = ""
	var drink = ""
	var especial = ""
	var acom = ""

	{%for obj in form.platos%}

			{%if 'PRINCIPIO' in obj.choice_label %}
				pr += "<div>" + '{{obj}}' + "</div>";
				$(".principio").html(pr);

			{% elif 'SOPA' in obj.choice_label %}
				soap += "<div>" + '{{obj}}' + "</div>";
				$(".sopa").html(soap);
			
			{% elif 'PROTEINA' in obj.choice_label %}
				meat += "<div>" + '{{obj}}' + "</div>";
				$(".carne").html(meat);

			{% elif 'ARROZ' in obj.choice_label %}
				rice += "<div>" + '{{obj}}' + "</div>";
				$(".arroz").html(rice);

			{% elif 'ENSALADA' in obj.choice_label %}
				salad += "<div>" + '{{obj}}' + "</div>";
				$(".ensalada").html(salad);
			
			{% elif 'BEBIDA' in obj.choice_label %}
				drink += "<div>" + '{{obj}}' + "</div>";
				$(".bebida").html(drink);

			{% elif 'ESPECIAL' in obj.choice_label %}
				especial += "<div>" + '{{obj}}' + "</div>";
				$(".especial").html(especial);

			{% elif 'ACOMPANANTE' in obj.choice_label %}
				acom += "<div>" + '{{obj}}' + "</div>";
				$(".acompañante").html(acom);
			{%endif%}
			
	{%endfor%}
	
	

});

</script>				
	<body>
	<div class="container">
		<form method= 'POST' action = ''> {%csrf_token%}

		<div >
			<div class="col-md-2">
				<h2>Especial:</h2>
				<div class="especial"></div>
			</div>
		</div>

		<div >
			<div class="col-md-2">
				<h2>Sopas:</h2>
				<div class="sopa"></div>
			</div>
		</div>

			<div class="col-md-2">
				<h2>Principio:</h2>
				<div class="principio"></div>
			</div>

			<div  class="col-md-2">
				<h2>Proteina:</h2>
				<div class="carne"></div>
			</div>

			<div class="col-md-2">
				<h2>Ensalada:</h2>
				<div class="ensalada"></div>
			</div>
			<div class="col-md-2">
				<h2>Acompañante:</h2>
				<div class="acompañante"></div>
			</div>
			<div  class="col-md-2">
				<h2>Arroz:</h2>
				<div class="arroz"></div>
			</div>

			<div class="col-md-2">
				<h2>Bebidas:</h2>
				<div class="bebida"></div>
			</div>



			<button type="submit">Ingresar</button>
			
		</form>
	</div>
	</body>
</html>